{{- $cat := .Get 0 -}}
{{- $pages := site.RegularPages -}}
{{- $byCategories := where $pages "Params.categories" "!=" nil -}}
{{- $matchByCategories := where $byCategories "Params.categories" "intersect" (slice $cat) -}}
{{- $matchByCategory := where $pages "Params.category" $cat -}}
{{- $list := union $matchByCategories $matchByCategory -}}

{{- if gt (len $list) 0 -}}
<div class="category-list-container">
{{- range $list }}
  <article class="post-entry category-list-entry">
    {{- if .Params.cover.image }}
    <figure class="entry-cover">
        <img loading="lazy" src="{{ .Params.cover.image | absURL }}" alt="{{ .Params.cover.alt | default .Title }}">
    </figure>
    {{- end }}
    
    <div class="entry-info">
      <header class="entry-header">
        <h2>{{ .Title }}</h2>
      </header>
      
      <div class="entry-content">
        <p>{{ .Summary | plainify | htmlUnescape | truncate 120 }}...</p>
      </div>
      
      <footer class="entry-footer">
        <span title='{{ .Date.Format "2006-01-02 15:04:05 MST" }}'>
          {{ .Date.Format "January 2, 2006" }}
        </span>
      </footer>
    </div>
    
    <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
  </article>
{{- end }}
</div>
{{- else -}}
<!-- <p>暂无“{{ $cat }}”分类的文章。</p> -->
{{- end -}}